Flask==2.3.2
flask-cors==4.0.0
pandas==2.0.3
zipfile36==0.1.3
pydub==0.25.1
numpy==1.25.2
moviepy==1.0.3
PyPDF2==3.9.0
python-docx==0.8.11
python-magic==0.4.27
sentencepiece==0.1.99
argparse~=1.4.0
black~=22.8.0
requests~=2.31.0
matplotlib~=3.3.4
Pillow>=9.2.0
