@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

@keyframes TitleGradientAnimation {
  0% { background-position: 100% 0px; }
  25% { background-position: 25% 25%; }
  50% { background-position: 0px 50%; }
  75% { background-position: 75% 25%; }
  100% { background-position: 100% 0px; }
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: linear-gradient(to right, #009d6cf0, #ff5e62);
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
}

#main_output_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#interpreter {
    position: inherit;
    background: linear-gradient(135deg, #004e4d, #03cfab, #e808b6, #3d0023);
    background-size: 200% 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: TitleGradientAnimation 4.5s ease infinite;
    margin-top: 133px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    z-index: 8;
}


.version {
  position: absolute;
  margin: 9px;
  font-size: 11px;
  top: 0;
  right: 0;
  background: linear-gradient(23deg, #e4ffff, #030000, #04ffbd, #0017ff);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: TitleGradientAnimation 4.5s ease infinite;
}

h2 {
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

i.fa-edit {
  transition: transform 0.2s ease-in-out;
}

#code, #output  {
    box-shadow: 2px 19px 20px 5px rgba(0, 0, 0, 0.125);
    padding: 1em;
    flex-shrink: 0;
    max-width: 90vw;
    font-family: monospace;
    margin-bottom: -1em;
    border-radius: 5px;
    border: none;
}

#code {
    height: 10%;
    width: 40%;
    background-color: rgb(255 245 245);
}

#output {
    min-width: 390px;
    height: 25ch;
    margin-top: 20px;
    width: 70ch;
    background-color: rgb(255 255 255 / 51%);
}

.hoverable {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: center url('https://i.stack.imgur.com/mJHTA.png') no-repeat;
  background-size: contain;
}

#footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#footer-buttons button {
    margin-top: 0.8em;
    margin-right: 0.4em;
    margin-bottom: 0.1em;
    margin-left: 0.4em;
}

.logo {
    opacity: 0;
    margin-top: -3px;
    transition: opacity 1s ease-in-out;
}

#output, #footer-buttons {
    box-sizing: border-box;
}

#logo1 {
    opacity: 1;
}

.panel_body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button {
    border: none;
    color: #fff0;
    background-color: transparent; /* Removes background color */
    border: none; /* Removes border */    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    transform: translateY(-4px);
}

#btn1 #btn2 #btn3 #btn4 #btn5 {
    transition: all ease 0.5s;
}

#btn1 #btn2 #btn3 #btn4 #btn5:hover {
    transform: translateY(-4px);
}

#main_output_container {
    margin-top: 15px;
    flex-direction: row-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-250px * 7)); /* Halfway point */
  }
  100% {
    transform: translateX(calc(-250px * 14)); /* End point */
  }
}
.slider {
    background: linear-gradient(290deg, #b9116991, #0600ff99, #0741df, #e3cc04);
    box-shadow: 1px -19px 20px 10px rgba(0, 0, 0, 0.125);
    height: 41px; /* Decreased height */
    margin-top: auto;
    margin-right: auto;
    margin-left: -22px;
    overflow: hidden;
    position: relative;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(5deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 23s linear infinite;
  display: flex;
  width: calc(250px * 14);
  height: 40px;
  position: initial;
  margin-top: -29px;
  align-items: baseline;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.slider .slide-track {
  animation-play-state: running;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.slider .slide {
  height: 50px; /* New height */
  width: 250px;
}